^{:watch-dirs ["src" "test"]
  :css-dirs ["resources/public/css"]
  :mode :serve}
{:main reagent-samples.core
 :optimizations :advanced
 :pseudo-names true
 :warnings true
 :output-wrapper true
 :source-map false
 :output-dir "target/cljs/public/js/out"
 :output-to "target/cljs/public/js/main.js"}
